PyQt5==5.15.6
psutil==5.8.0
icalendar==5.0.7
recurring-ical-events==2.0.2
requests==2.22.1
PyQtWebEngine==5.15.6

a = Analysis(
    ['main.py'],
    pathex=[...],
    binaries=[...],
    datas=[...],
    hiddenimports=['icalendar', 'recurring_ical_events', 'requests'],
    hookspath=[...],
    runtime_hooks=['runtime_hook.py'],
    ...
)